version: '3'

services:
  app:
    build:
      context: ./app
    container_name: app
    entrypoint: wait-for database:3306 -t 40 -- node index.js
    networks:
      - fullcycle-nginx-node
    volumes:
      - ./app:/app
    tty: true
    ports:
      - "3000:3000"
    depends_on:
      - database

  database:
    image: mysql:5.7
    command: --innodb-use-native-aio=0
    container_name: database
    restart: always
    tty: true
    volumes:
      - ./mysql:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=nodedb
      - MYSQL_ROOT_PASSWORD=root
    networks:
      - fullcycle-nginx-node

  nginx:
    build:
      context: ./nginx
    container_name: nginx
    entrypoint: ["wait-for", "app:3000", "-t", "40", "--", "nginx", "-g", "daemon off;"]
    networks:
      - fullcycle-nginx-node
    tty: true
    ports:
      - "8080:80"
    depends_on:
      - app

networks:
  fullcycle-nginx-node:
    driver: 'bridge'
